.about-editor {
  background-image: url("../img/about-editor/editor-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  padding-top: 32px;
  padding-bottom: 445px;

  @media (min-width: $smBrP) {
    padding-top: 60px;
    padding-bottom: 595px;
    background-image: url("../img/about-editor/editor-desktop.png");
  }
  @media (min-width: $mdBrp) {
    background-color: #f4f4f4;
    padding-top: 94px;
    padding-bottom: 71px;
    background-image: url("../img/about-editor/editor-desktop.png");
    background-position: top 159px right -91px;
  }
  @media (min-width: 1200px) {
    background-color: #f4f4f4;
    padding-top: 94px;
    padding-bottom: 71px;
    background-image: url("../img/about-editor/editor-desktop.png");
    background-position: top 159px right -10px;
  }

  &__container {
    @include flex(column, start, center, wrap);
    @media (min-width: $smBrP) {
      align-items: start;
    }
    @media (min-width: $mdBrp) {
      flex-direction: row-reverse;
      align-items: start;
      column-gap: 90px;
      flex-wrap: nowrap;
    }
  }

  &__advantage {
    @include flex(column, start, center, nowrap);
    @media (min-width: $smBrP) {
      flex-direction: row;
      align-items: start;
      margin-top: 60px;
      &:nth-child(1) {
        margin-top: 50px;
      }
      &:nth-child(1) img {
        margin-left: 30px;
        margin-right: 23px;
      }
      &:nth-child(2) img {
        margin-left: 31px;
        margin-right: 43px;
      }
      &:nth-child(3) img {
        margin-left: 46px;
        margin-right: 58px;
      }
      &:nth-child(4) img {
        margin-left: 41px;
        margin-right: 53px;
      }
    }
    @media (min-width: $mdBrp) {
      flex-direction: row;
      align-items: start;
      justify-content: center;
      margin-top: 40px;
      &:nth-child(1) {
        margin-top: 6px;
      }
      &:nth-child(1) img {
        margin-right: 23px;
      }
      &:nth-child(2) img {
        margin-right: 43px;
      }
      &:nth-child(3) img {
        margin-right: 58px;
      }
      &:nth-child(4) img {
        margin-right: 53px;
      }
    }
  }

  &__advantage-icon {
    margin-top: 39px;
    @media (min-width: $smBrP) {
      margin-top: 0;
    }
    @media (min-width: $mdBrp) {
      margin-top: 0;
    }
  }

  &__advantage-info {
    @include flex(column, start, center, wrap);
    @media (min-width: $smBrP) {
      align-items: start;
    }
    @media (min-width: $mdBrp) {
      align-items: start;
    }
  }

  &__advantage-title {
    @include textStyle(16px, 16px, 400, #323232);
    margin-top: 24px;
    @media (min-width: $smBrP) {
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 0;
    }
    @media (min-width: $mdBrp) {
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__advantage-description {
    @include textStyle(14px, 21px, 400, $descriptionColor);
    margin-top: 14px;
    text-align: center;
    max-width: 271px;
    @media (min-width: $smBrP) {
      max-width: 577px;
      text-align: start;
      margin-top: 15px;
    }
    @media (min-width: $mdBrp) {
      max-width: 390px;
      text-align: start;
      margin-top: 15px;
    }
  }
}

.about-editor__title {
  color: $accentColor;
  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }
  @media (max-width: 410px) {
    max-width: 230px;
  }
  @media (min-width: $smBrP) {
    @include marginCenter;
  }
  @media (min-width: $mdBrp) {
    text-align: start;
    min-width: 578px;
  }
}
