.testmonial-section {
  background: url("../img/about-fork/testmonials-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  font-family: $descriptionFont;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
  @media (max-width: 993px) {
    background-image: url("../img/about-fork/testmonials-bg-for-tabs.jpg");
  }
  @media (max-width: 480px) {
    background-image: url("../img/about-fork/testmonials-bg-for-mobile.jpg");
  }
}

.testmonial {
  &__title {
    padding-top: 110px;
    margin-bottom: 80px;
    @media (max-width: 993px) {
      padding-top: 85px;
    }
    @media (max-width: 480px) {
      padding-top: 57px;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: end;
    gap: 110px 90px;
    margin-bottom: 120px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 58px 63px;
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 45px 0;
    }
  }

  &__text {
    @include textStyle(16px, 24px, 700, inherit);
  }

  &__bottom-text {
    @include textStyle(14px, 21px, 400, #a291a5);
    text-align: center;
    &::after {
      content: "";
      display: block;
      width: 780px;
      height: 2px;
      background-color: #645766;
      @include marginCenter;
      margin-top: 20px;
      @media (max-width: 992px) {
        width: 555px;
      }
      @media (max-width: 620px) {
        width: 245px;
      }
    }
  }
}
.testmonial-content {
  max-width: 315px;
  @include flex(column, center, center, wrap);
  gap: 25px 0;
  font-family: $descriptionFont;
  font-style: italic;
}
