html {
  scroll-behavior: smooth;
}
body {
  font-family: $mainFont;
}
.container {
  min-width: $smallContainer;
  @include marginCenter;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $smBrP) {
    max-width: $mdContainer;
  }
  @media (min-width: $mdBrp) {
    max-width: $largeContainer;
  }
}

.section-title {
  @include textStyle(36px, 42px, 700, #ffffff);
  text-align: center;
  @media (min-width: $smBrP) {
    @include textStyle(42px, 44px, 700, #ffffff);
  }
  @media (min-width: $smBrP) {
    @include textStyle(48px, 50px, 700, #ffffff);
  }
}
