html{
  scroll-behavior: smooth;
}
body {
  font-family: $mainFont;
}
.container {
  min-width: $smallContainer;
  @include marginCenter;
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint-mf($mdBrp) {
    max-width: $largeContainer;
    padding: 0 80px;
  }
  @media (max-width:480px) {
    padding: 0 25px;
  }
}
