$descriptionFont: "Lato", sans-serif;
$mainFont: "Montserrat", sans-serif;
$smallContainer: 320px;
$mdContainer: 768px;
$largeContainer: 1200px;
$smBrP: 481px;
$mdBrp: 993px;
$accentColor: #8d81ac;
$descriptionColor: #848e97;

